@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	background-color: #f6f6f6;
}
p {
	margin-top:0;
	margin-bottom: 0;
}

.circle {
	/*width: 100px;
    margin: 6px 6px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;*/
}


#container {
	background-color: #f6f6f6;
	font-size: 30px;
	letter-spacing: 0.5px;
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
    width:100%;
  
    overflow:hidden;
    position: relative;
    margin-top:50px;
}

#container a{
    display: block;
   color: #128cc4;
}
#stripe1 {
    height: 45px;
    background-color: #003c7b;
}
#stripe2{
	background-color: #f6f6f6;
    height: 20px;
}
#stripe3 {
	background-color: #6ddaed;
    height: 45px;
}
#line1 {
	width: 550px;
	text-align: left;
	margin: 52px auto 30px auto
}
#line2 {
	width: 550px;
	text-align: right;
	margin: 20px auto 60px auto;
}

#circle-con {
	width: 175px;
	height: 175px;
	border-radius: 50%;
	background-color: #f6f6f6;
	position: absolute;
	top:50%;
	left:50%;
	margin-top: -110px;
	margin-left: -110px;
	padding: 20px;

}
#infographic-01-inner-circle {	
	display: table;
	width: 115px;
	height: 115px;
	padding: 30px;
	border-radius: 50%;
	 background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#da192b, #b11423); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#da192b, #b11423); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#da192b, #b11423); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#da192b, #b11423); /* Standard syntax */
}



#infographic-01-inner-circle2 {
	display: table-cell;
	background-color: #f6f6f6;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	font-size: 50px;
	text-align: center;
	vertical-align: middle;
}
#infographic-01-inner-circle2 a{
	color:#003c7b;
	word-spacing: 0px;
	display: inline-block;
}
#infographic-01-inner-circle2 a:nth-child(2){
	font-size: 30px;
}

@media screen and (max-width: 700px) {
	#container a {
		font-size: 21px;
	}

}

@media screen and (max-width: 600px) {
	#container a {
		font-size: 18px;
		line-height: 25px;
	}
	#line1 {
		width: 400px;
	}
	#line2 {
		width: 400px;
	}
	#infographic-01-inner-circle2 a:nth-child(1){
		font-size: 40px;
	}
	#infographic-01-inner-circle2 a:nth-child(2){
		font-size: 20px;
	}
}
@media screen and (max-width: 425px) {

	#container a {
		font-size: 15px;
		line-height: 25px;
	}
	#line1 {
		width: 280px;
	}
	#line2 {
		width: 280px;
	}
	#infographic-01-inner-circle2 a:nth-child(1){
		font-size: 30px;
	}
	#infographic-01-inner-circle2 a:nth-child(2){
		font-size: 15px;
	}
	#circle-con {
		width: 145px;
		height: 145px;
		margin-top: -95px;
		margin-left: -100px;
	}
	#infographic-01-inner-circle {
		height: 100px;
		width: 100px;
		padding: 22px;

	}
}

/*Infographic04 start*/

.infographic04-top {
	width: 100%;
	height: 10px;
}
.infographic04-top a{
	width: 25%;
	height: 100%;
	float: right;
	background-color:#ff0000;
}
.infographic04-top a:nth-child(2){
	 background-color:#ff795f;
}
.infographic04-top a:nth-child(3){
	 background-color:#bf0028;
}
.infographic04-con {
	width: 700px;
	margin: 80px auto 0 auto;

}
.infographic04-left {
	width: auto;
	float: left;
	margin-left: 10px;
}
.infographic04-left a{
	margin-top: 10px;
}
.a-next-to {
	display: inline-block !important;
}
#red-inline{
	margin-left:5px; 
	color:#c40027 !important; 
	font-weight:500;
}
.infographic04-right {
	width: auto;
	overflow: hidden;

	padding-left: 30px;
	padding-top: 20px;
} 
.infographic04-right a {
	background-color: transparent;
	position: relative;
	z-index: 1;
	width: 50px;
	margin-left: -5px;
	height: 100px;
	float: left;
	background-image: url(../img/girl30.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.infographic04-right a:nth-child(1){
 	background-image: url(../img/girl.png);
 	z-index: 2;
}

.infographic04-bot {
	width: 100%;
}
.infographic04-bot a{
	height: 20px;
	margin-bottom: 10px;
}
.infographic04-bot a:nth-child(1){
	width: 50%;
	background-color: #003a7d;
}
.infographic04-bot a:nth-child(2){
	width: 75%;
	background-color: #40d1e4;
}

@media screen and (max-width: 600px) {
	.infographic04-right a {
		width: 40px;
	}
}
@media screen and (max-width: 500px) {
	.infographic04-right a {
		margin-top: 20px;
		width: 30px;
	}
	#container a {
		font-size: 15px;
	}
}
@media screen and (max-width: 400px) {
	.infographic04-right a{
		width: 22px;
	}
	.infographic04-right{
		padding-left: 7px;
	}
	.infographic04-con {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
}

.infographic05-con {
	width: 100%;
	margin: 80px auto 50px auto;
	text-align: center;
}
.infographic05-con a {
	line-height: 35px;
}
#a-next-to {
	color: #c40027 !important;
	font-weight: 500;
}
.infographic05-party {
	margin-top: 50px;
	text-align: center;
}
.infographic05-party p{
	z-index: 2;
	position: relative;
	width: 28px;
	height: 55px;
	margin-left: -2px;
	display: inline-block;
	background-image: url(../img/girl30.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.infographic05-party p:nth-child(1){
	z-index: 3;
	background-image: url(../img/girl.png);
}
.infographic05-party p:nth-child(2), .infographic05-party p:nth-child(4), .infographic05-party p:nth-child(6), .infographic05-party p:nth-child(8), .infographic05-party p:nth-child(10), .infographic05-party p:nth-child(12), .infographic05-party p:nth-child(14), .infographic05-party p:nth-child(16), .infographic05-party p:nth-child(18), .infographic05-party p:nth-child(20), .infographic05-party p:nth-child(23), .infographic05-party p:nth-child(25), .infographic05-party p:nth-child(27), .infographic05-party p:nth-child(29), .infographic05-party p:nth-child(31), .infographic05-party p:nth-child(33), .infographic05-party p:nth-child(35), .infographic05-party p:nth-child(37), .infographic05-party p:nth-child(39), .infographic05-party p:nth-child(41){

	background-image: url(../img/man.png);
}


#under05-party {
	color: #003a7d;
	font-size: 20px;
	font-weight: 500;
	margin-top: 50px;
}

@media screen and (max-width: 800px) {
	.infographic05-con a {
		font-size: 25px;
	}
}
@media screen and (max-width: 700px) {
	#under05-party {
		font-size: 15px;
		margin-top: 30px;
	}
}
@media screen and (max-width: 600px) {
	.infographic05-con {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.infographic05-party {
		margin-top: 30px;
	}
	#under05-party {
		font-size: 12px;
	}
}
@media screen and (max-width: 550px){
	.infographic05-party p {
		width: 20px;
		height: 45px;
	}
}
@media screen and (max-width: 400px) {
	#under05-party {
		font-size: 8px;
	}
	.infographic05-con a {
		font-size: 11px;
	}
	.infographic05-party p {
		width: 17px;
		height: 40px;
	}
	#container a {
		font-size: 11px;
	}
}

/* infographic 06 */

.infographic06-con {
	width: 100%;

	background-color: #eefafc;
	padding-top: 80px;
	padding-bottom: 80px;
}
.infographic06-bar {
	position: relative;
	height: 81px;
	margin-top: 15px;
	text-align: right;
	padding-top: 9px;
}
#infographic06-bar1 {
	width: 50%;
	background-color: #40d1e4;
	border-right: 10px solid #01739d;
}
#infographic06-bar2 {
	width: 40%;
	background-color: #f70000;
	border-right: 10px solid #c40024;
}
#infographic06-bar3 {
	width: 30%;

	background-color: #2187c2;
	border-right: 10px solid #0f3d7c;
}
.infographic06-bar-top {

	margin-right: 15px;
	height: 30px;
	font-size: 24px;
	color: white;
	vertical-align: bottom;
}
.infographic06-bar-bot {
	color: white;
	height: 55px;
	width: 100%;
	font-size: 15px;

}
.infographic06-bar-left {
	float: right;
}
.infographic06-bar-left p{
	line-height: 16px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
}
.infographic06-bar-right {
	margin-top: 3px;
	float: right;
	margin-right: 5px;
	margin-left: 5px;
}
.infographic06-bar-right p {
	display: inline-block;
}
.infographic06-bar-right p:nth-child(1) {
	font-size: 52px;
	letter-spacing: -3px;
}
.infographic06-bar-right p:nth-child(2) {
	font-size: 20px;
}
.infographic06-text {
	width: 350px;
	height: 200px;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 2%;
	margin-right: 15%;
}
.infographic06-text p {
	color: #128cc4;
	font-size: 36px;
	margin-bottom: 10px;
	text-align: right;
}

@media screen and (max-width: 1000px) {
	.infographic06-text {
		margin-right: 5%;
	}
}
@media screen and (max-width: 700px) {
	.infographic06-text {
		margin-right: 0;
	}
	.infographic06-text p  {
		font-size: 26px;
	}
}
@media screen and (max-width: 500px) {

	.infographic06-text p  {
		font-size: 24px;
		margin-bottom: 0;
	}
	.infographic06-text {
		height: 166px;
	}
}
@media screen and (max-width: 400px) {
	.infographic06-text p  {
		font-size: 16px;
	}
	.infographic06-bar-top {
		font-size: 18px;
	}
	.infographic06-bar-right p:nth-child(1) {
		font-size: 36px;
	}
}


/*infographic07*/

.infographic07-con {
	width: 100%;
	position: relative;
}
.infographic07-left {
	float:left;
	width: 50%;
	margin-top: 110px;
}
.infographic07-left p{

	vertical-align: middle;
	color:white;
	width: 100%;
	margin-bottom: 15px;
	line-height: 90px;
	height: 90px;
	background-color: #40d1e4;
	text-align: center;
}
.infographic07-left p:nth-child(2){
	background-color: #003c79;
}
.infographic07-left p1 {
	float: right;
	font-size: 20px;
	color: #003c79;
	margin-top: 40px;
	font-weight: 500;
	margin-right: 20px;
}

.infographic07-right {
	width: 410px;
	height: 430px;
	float: left;
	background-image: url(../img/hand.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 
}

@media screen and (max-width: 850px){
	.infographic07-right {
		width: 50%;
	}
	.infographic07-left p {
		height: 80px;
		font-size: 20px;
		line-height: 80px;
		margin-bottom: 10px;
	}
	.infographic07-left p1, .infographic08-text {
		font-size: 15px;
	} 
}
@media screen and (max-width: 750px) {
	.infographic07-left {
		margin-top: 95px;
	}
	.infographic07-right {
		height: 375px;
	}
	.infographic07-left p {
		height: 70px;
		font-size: 18px;
		line-height: 70px;

	}
	.infographic07-left p1, .infographic08-text {
		font-size: 15px;
		margin-top: 20px;
	} 
}

@media screen and (max-width: 650px) {
	.infographic07-left {
		margin-top: 75px;
	}
	.infographic07-right {
		height: 325px;
	}
	.infographic07-left p {
		height: 60px;
		font-size: 18px;
		line-height: 60px;
		margin-bottom: 5px;
	}
	.infographic07-left p1, .infographic08-text {
		font-size: 12px;
		margin-top: 10px;
	} 
}
@media screen and (max-width: 550px) {
	.infographic07-left {
		margin-top: 65px;
	}
	.infographic07-right {
		height: 270px;
	}
	.infographic07-left p {
		height: 50px;
		font-size: 15px;
		line-height: 50px;
	}
	.infographic07-left p1, .infographic08-text {
		font-size: 9px;
		margin-top: 10px;
	} 
}
@media screen and (max-width: 450px) {
	.infographic07-left {
		margin-top: 50px;
	}
	.infographic07-right {
		height: 200px;
	}
	.infographic07-left p {
		height: 40px;
		font-size: 15px;
		line-height: 40px;
	}
	.infographic07-left p1, .infographic08-text {
		font-size: 8px;
		margin-top: 5px;
	} 
}

/*Infographic08*/

.infographic08-con {
	margin-top: 50px;
	width: 100%;
	position: relative;
}

.infographic08-lines {
	color: white;
	width: 100%;
	height: 100px;
	background-color: #00a7d6;
	margin-bottom: 20px;
	line-height: 100px;
}
#infographic08-doubleline {
	background-color: #40d1e4;
	line-height: 30px;
	padding-top:20px;
	height: 80px; 
}
.infographic08-lines:nth-child(3){
	background-color: #003c79;
}
.infographic08-lines p {
	width: 50%;
	text-align: left;
	padding-left: 20%;
}

.infographic08-text {
	width: 50%;
	text-align: left;
	padding-left: 20%;
	font-size: 20px;
	color: #003c79;
	margin-top: 40px;
	font-weight: 500;
	margin-right: 20px;
	margin-bottom: 50px;

}

.infographic08-check {
	position: absolute;
	width: 50%;
	height: 115%;
	top: -50px;
	right: 0;
	background-image: url(../img/checkBubble.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
}

@media screen and (max-width: 1200px){
	.infographic08-lines p, .infographic08-text {
		padding-left: 0;
		margin-left: 10px;		
	}
}

@media screen and (max-width: 850px){
	.infographic08-lines {
		height: 70px;
		line-height: 70px;
		font-size: 24px;
		margin-bottom: 10px;
	}
	#infographic08-doubleline  {
		line-height: 25px;
		height: 60px;
		padding-top: 10px;
	}
	.infographic08-text {
		font-size: 16px;
	}
}

@media screen and (max-width: 650px) {
	.infographic08-lines {
		height: 56px;
		line-height: 56px;
		font-size: 20px;
		margin-bottom: 10px;
	}
	#infographic08-doubleline  {
		line-height: 25px;
		height: 56px;
		padding-top: 10px;
	}
	.infographic08-text {
		font-size: 12px;
		margin-top: 30px;
	}

}

@media screen and (max-width: 520px) {
	.infographic08-lines {
		height: 45px;
		line-height: 45px;
		font-size: 15px;
		margin-bottom: 8px;
	}
	#infographic08-doubleline  {
		line-height: 16px;
		height: 39px;
		padding-top: 6px;
	}
	.infographic08-text {
		font-size: 10px;
		margin-top: 20px;
	}
}

@media screen and (max-width: 450px) {
	.infographic08-con {
		margin-top: 20px;
	}
	.infographic08-lines {
		height: 45px;
		line-height: 45px;
		font-size: 15px;
		margin-bottom: 8px;
	}
	#infographic08-doubleline {
		line-height: 16px;
		height: 39px;
		padding-top: 6px;
	}
	.infographic08-text {
		font-size: 8px;
		margin-top: 10px;
	}
	.infographic08-check {
		top:-30px;
	}
}

#infographic08-heart{
	background-image: url(../img/heartBubble.png);
}
