@charset "UTF-8";
/* CSS Document */

#container {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    width:100%;
    height:350px; 
    overflow:hidden;
}
.show{
    position: absolute;
    display:block;
    opacity:1;
}
.hidden{
    position: absolute;
    display:none;
    opacity:0;
}

#container div {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#img1 {
    background-image: url(../img/01_Infographic_600.png);
}
#img2 {
    background-image: url(../img/02_Infographic_600.png);
}
#img3 {
    background-image: url(../img/03_Infographic_600.png);
}
#img4 {
    background-image: url(../img/04_Infographic_600.png);
}
#img5 {
    background-image: url(../img/05_Infographic_600.png);
}
#img6 {
    background-image: url(../img/06_Infographic_600.png);
}
#img7 {
    background-image: url(../img/07_Infographic_600.png);
}
#img8 {
    background-image: url(../img/08_Infographic_600.png);
}
#img9 {
    background-image: url(../img/09_Infographic_600.png);
}