@charset "UTF-8";
/* CSS Document */

#container {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    width:100%;
    height:350px; 
    overflow:hidden;
}
.show{
    position: absolute;
    display:block;
    opacity:1;
}
.hidden{
    position: absolute;
    display:none;
    opacity:0;
}

#container div {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#img {

}
